body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.container3 {
    width: 686px;
    height: 624px;
    padding-right: 20px;
    padding-left: 20px;
    top: 53px;
    position: relative;
}

.form3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 624px;
}

label {
    font-family: 'Kokoro';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    color: #000000;
}

input {
    width: 424px;
    height: 40px;

    background: #EDEDED;
    border-radius: 15px;
    border: none;
}

#create {
    width: 160px;
    height: 40px;
    font-family: 'Kokoro';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #8683FE;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}

.topic {
    padding-left: 0px;
    margin-left: 0px;
}